@inherits PrihlasovaniBase

@if (State.AktualniTerminId == null)
{
	<p><em>Termín není zvolen.</em></p>
}
else
{
	if (State.IsLoading)
	{
		<p><em>Načítám detaily termínu...</em></p>
		<MatProgressBar Indeterminate="true"></MatProgressBar>
	}

	if (State.LoadingFailed)
	{
		<p><em>Načtení detailu termínu se nezdařilo.</em></p>
	}
}

@if (State.Prihlaseni != null)
{
	<MatH4>Přihlášení</MatH4>
	<MatList TwoLine="true">

		@foreach (var prihlaseny in State.Prihlaseni)
		{
			<MatListItem TwoLine="true">				
				<MatListItemText>
					<MatListItemPrimaryText>@prihlaseny.PrijmeniJmeno</MatListItemPrimaryText>
					<MatListItemSecondaryText>Karma: 55%</MatListItemSecondaryText>
				</MatListItemText>
				<MatButton>odhlásit</MatButton>
			</MatListItem>
		}

		@if (State.Prihlaseni.Count == 0)
		{
			<span>Na termín není dosud nikdo přihlášen.</span>
		}
	</MatList>
}

@if (State.Neprihlaseni != null)
{
	<MatH4>Nepřihlášení</MatH4>
	<MatList>
		@foreach (var neprihlaseny in State.Neprihlaseni)
		{
			<MatListItem>
				@neprihlaseny.PrijmeniJmeno
				<MatButton>přihlásit</MatButton>
			</MatListItem>
		}
	</MatList>
}


