@inherits PrihlasovaniBase

@if (State.AktualniTerminId == null)
{
	<p><em>Termín není zvolen.</em></p>
}
else
{
	<Loading State="State.LoadingState">
		<LoadingInProgress>
			<p><em>Načítám detaily termínu...</em></p>
		</LoadingInProgress>
		<LoadingFailed>
			<p><em>Načtení detailu termínu se nezdařilo.</em></p>
		</LoadingFailed>
	</Loading>
}

@if (State.Prihlaseni != null)
{
	<h2>Přihlášení</h2>
	<ul class="listview fluid">
		@foreach (var prihlaseny in State.Prihlaseni)
		{
			<li class="outline-color-blueDark">
				<div class="icon">
					<span class="icon-user-index fg-color-blueLight">1</span>
				</div>
				<div class="data">
					@*<h4 class="<%# Item.OsobaId == WebHelper.PrefferedOsobaId ? " strong" : "" %>"><%# Item.Osoba.PrijmeniJmeno %></h4>*@
					<h4>@prihlaseny.PrijmeniJmeno</h4>
					<a>odhlásit z termínu</a>
				</div>
			</li>
		}
	</ul>

	@if (State.Prihlaseni.Count == 0)
	{
		<p>Na tento termín není nikdo přihlášen.</p>
	}
}

@if (State.Neprihlaseni != null)
{
	<h2>Nepřihlášení</h2>
	<ul class="listview fluid">
		@foreach (var neprihlaseny in State.Neprihlaseni)
		{

			<li class="outline-color-orangeDark">
				<div class="icon" style="margin-top: 0.5em;">
					<i class="icon-user fg-color-orange"></i>
				</div>
				<div class="data">
					@*<h4 class="<%# Item.Id == WebHelper.PrefferedOsobaId ? " strong" : "" %>"><%# Item.PrijmeniJmeno %></h4>*@
					<h4>@neprihlaseny.PrijmeniJmeno</h4>
					<a CommandName="Prihlasit" CommandArgument="<%# Item.Id %>" CssClass="fg-color-orange " runat="server">přihlásit na termín</a>
				</div>
			</li>
		}
	</ul>
}



