@inherits PrihlasovaniBase

@if (State.AktualniTerminId == null)
{
	<p><em>Termín není zvolen.</em></p>
}
else
{
	if (State.IsLoading)
	{
		<p><em>Načítám detaily termínu...</em></p>
	}

	if (State.LoadingFailed)
	{
		<p><em>Načtení detailu termínu se nezdařilo.</em></p>
	}
}

@if (State.Prihlaseni != null)
{
	<h4>Přihlášení</h4>
	<ul>

		@foreach (var prihlaseny in State.Prihlaseni)
		{
			<li>@prihlaseny.PrijmeniJmeno</li>
		}

		@if (State.Prihlaseni.Count == 0)
		{
			<span>Na termín není dosud nikdo přihlášen.</span>
		}
	</ul>
}

@if (State.Neprihlaseni != null)
{
	<h4>Nepřihlášení</h4>
	<ul>
		@foreach (var neprihlaseny in State.Neprihlaseni)
		{
			<li>
				@neprihlaseny.PrijmeniJmeno
			</li>
		}
	</ul>
}


