<h2><i class="bi bi-plus-circle me-1"></i>Založení nové osoby</h2>

<EditForm Model="@formData" OnValidSubmit="ValidSubmitAsync">
    <DataAnnotationsValidator />
    <ValidationSummary class="validation-message" />

    <HxInputText Label="jméno" @bind-Value="@formData.Jmeno" MaxLength="50" />
    <HxInputText Label="příjmení" @bind-Value="@formData.Prijmeni" MaxLength="50" />
    <HxInputText Label="email" @bind-Value="@formData.Email" MaxLength="50" />

    <HxSubmit Text="založit osobu" Color="ThemeColor.Success" />
</EditForm>
