<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" href="/css/normalize.css" />
	<link type="text/css" rel="stylesheet" href="/less/modern.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/less/modern-responsive.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/css/volejbal.css" />
	<link rel="stylesheet" href="/_content/ChartJs.Blazor/ChartJSBlazor.css" />
    <link rel="stylesheet" href="app.css" />
    @* <link rel="stylesheet" href="KandaEu.Volejbal.Web.Server.styles.css" /> *@
    <link rel="manifest" href="manifest.json" />
    <meta name="description" content="Volejbal - Přihlašování" />
    <base href="/" />
    @* TODO: PageTitle se nenastavuje *@
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="modern-ui">
    <div class="page secondary">
        <Routes @rendermode="new InteractiveServerRenderMode(prerender: true)" />
    </div>
    
    <script src="_framework/blazor.web.js"></script>

    <!-- Reference the included moment.js javascript file. -->
    <script src="/_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>

    <!-- Reference the included ChartJs javascript file. -->
    <script src="/_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>

    <!-- This is the glue between the C# code and the ChartJs charts -->
    <script src="/_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>

</body>

</html>
