<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Havit.Blazor.Components.Web.Bootstrap/bootstrap-icons.lib.css" />
    <link rel="stylesheet" href="_content/Havit.Blazor.Components.Web.Bootstrap/defaults.lib.css" />
    <link rel="stylesheet" href="css/volejbal.css" />
    <link rel="manifest" href="@Assets["manifest.json"]" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
    <ImportMap />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />

    <script src="_framework/blazor.web.js"></script>
    @((MarkupString)Havit.Blazor.Components.Web.ECharts.HxEChartsSetup.RenderEChartsJavaScriptReference())
</body>

</html>
