<PageTitle>Volejbal - Chyba</PageTitle>

<h2>Ups...</h2>

<p>Stalo se něco, co nikdo nechtěl - v aplikaci došlo k chybě. Kliknutím <a href="#" @onclick="HandleRestartClick">restartujte aplikaci</a>.</p>
