@page "/"

<PageTitle>Volejbal - Přihlašování</PageTitle>

@if (ShowNastenkaLink)
{
	<a href="/Nastenka" class="fg-color-red">Na nástěnce jsou nové vzkazy!</a>
}

<Terminy />
<Prihlasovani />

<div class="button-set" data-role="xbutton-set">
	<a href="/Nastenka" class="button icon-comments-4 bg-color-red fg-color-white">nástěnka</a>
	<a href="/Osoby" class="button icon-cog bg-color-green fg-color-white">správa osob</a>
	<a href="/Statistika" class="button icon-stats bg-color-orange fg-color-white">statistika</a>
</div>