@if (State.Terminy != null)
{
    @if (State.Terminy.Count == 0)
    {
        <div class="empty-date">Žádný termín není k&#160;dispozici.</div>
    }
    else
    {
        <div class="dates">
            @foreach (var termin in State.Terminy)
            {
                var isSelected = termin.Id == State.CurrentTerminId;
                <button type="button" class="date"
                        aria-pressed="@(isSelected ? "true" : "false")"
                        @onclick="@(_ => TerminClickAsync(termin))">
                    <div class="d-date">
                        @($"{termin.Datum.Day}.") <small>@termin.Datum.ToString("MMMM")</small>
                    </div>
                </button>
            }
        </div>
    }
}
