<h2>Termín</h2>

@if (State.Terminy != null)
{
    <div class="d-flex flex-wrap gap-2 mb-3">
        @foreach (var termin in State.Terminy)
        {
            <button class="btn @((termin.Id == State.CurrentTerminId) ? "btn-primary" : "btn-secondary")"
                    @onclick="@(_ => TerminClickAsync(termin))">
                @termin.Datum.ToString("d. MMMM")
            </button>
        }

        @if (State.Terminy.Count == 0)
        {
            <span>Žádné termíny nejsou k dispozici.</span>
        }
    </div>
}
