@page "/"
@namespace KandaEu.Volejbal.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs">
<head>
	<title>Volejbal</title>
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0" />
	<link type="text/css" rel="stylesheet" href="/css/normalize.css" />
	<link type="text/css" rel="stylesheet" href="/less/modern.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/less/modern-responsive.min.css" media="screen" />
	<link type="text/css" rel="stylesheet" href="/css/volejbal.css" />
	<link type="text/css" rel="stylesheet" href="/_content/Sotsera.Blazor.Toaster/toastr.min.css" />
	<link rel="stylesheet" href="/_content/ChartJs.Blazor/ChartJSBlazor.css" />
	<link rel="stylesheet" href="KandaEu.Volejbal.Web.styles.css"  />
	<link rel="manifest" href="manifest.json" />
	<meta name="description" content="Volejbal - Přihlašování" />
</head>
<body class="modern-ui">
	<div class="page secondary">
		<app>
			@(await Html.RenderComponentAsync<App>(RenderMode.Server))
		</app>
	</div>

	<div id="blazor-error-ui">
		<environment include="Staging,Production">
			V aplikaci došlo k chybě, aplikace přestala fungovat. Pro pokračování klikni na
		</environment>
		<environment include="Development">
			V aplikaci došlo k chybě, aplikace přestala fungovat. Detaily jsou vidět v konzoli. Pro pokračování klikni na
		</environment>
		<a href="" class="reload">Reload</a>.
	</div>

	<script src="/javascript/setWindowTitle.js"></script>
	<script src="/_framework/blazor.server.js"></script>

	<!-- Reference the included moment.js javascript file. -->
	<script src="/_content/ChartJs.Blazor/moment-with-locales.min.js" type="text/javascript" language="javascript"></script>

	<!-- Reference the included ChartJs javascript file. -->
	<script src="/_content/ChartJs.Blazor/Chart.min.js" type="text/javascript" language="javascript"></script>

	<!-- This is the glue between the C# code and the ChartJs charts -->
	<script src="/_content/ChartJs.Blazor/ChartJsBlazorInterop.js" type="text/javascript" language="javascript"></script>

</body>
</html>
