.fontawesome-badge {
    font-size: .75em;
    display: block;
    position: absolute;
    top: -0.75em;
    left: -.25em;
    width: 1em;
    height: 1em;
    line-height: 1em;
    border-radius: 50%;
    color: #fff;
    background: red;
    text-align: center;
    vertical-align: middle;
}