.saved-topics-selections-item {
    border: 1px solid $border-gray;
    border-bottom: none;
    padding: 10px;
    cursor: pointer;

    &:hover {
        background-color: #ececec;
    }

    &:last-child {
        border-bottom: 1px solid $border-gray;
    }
}
