.topic-search {
    .topic-search-input {
        width: 30em;
        display: inline-block;
    }
    .topic-search-answer-checkbox {
        width: auto;
        display: inline-block;
    }
    .topic-search-active-text {
        text-decoration: underline;
        color: $blue;
        cursor: pointer;
    }
    .topic-search-result-list {
        list-style: none;
        padding-left: 0;

        .topic-search-result-item {
            padding: 0.5rem;
            vertical-align: top;
            border: 1px solid $border-gray;
            border-bottom: none;

            &:last-child {
                border-bottom: 1px solid $border-gray
            }
        }
    }
}