.treeview-grid  {
    // border: 1px solid black;
    width: auto;
    // display: inline-block;
}
.treeview-grid .grid-row {
    display: block;
    width: auto;
    cursor: pointer;
    
    &:hover {
        background-color: $gray-400;
    }

    &.grid-row-selected {
        border-left: 1px solid black;
        background-color: $gray-200
    }
}
.treeview-grid .grid-row .grid-cell {
    display: inline-block;
    // width: 100px;
    // border-bottom: 1px solid gray;
}

// .treeview-grid .grid-header {
//     // background: lightblue;    
//     // border-bottom: 1px solid black;
// }

.treeview-grid .indent {
    display: inline-block;
    width: 20px;
    height: 20px;
}  