@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<div class="page-header">
	<div class="page-header-content">
        <h1>Volejbal🏐 <small></small></h1>
        @if (NavigationManager.Uri != NavigationManager.BaseUri)
		{
			<a href="/" class="back-button big page-back"></a>
		}		
	</div>
</div>

<div class="page-region">
	<div class="page-region-content">
		<ErrorBoundary>
			<ChildContent>
				<ProgressOverlay>
					@Body
				</ProgressOverlay>
			</ChildContent>
			 <ErrorContent>
				 <KandaEu.Volejbal.Web.Components.Error />
			 </ErrorContent>
		</ErrorBoundary>
	</div>
</div>
