@inherits LayoutComponentBase

<MatAppBarContainer>
	<MatAppBar Fixed="true">
		<MatAppBarRow>
			<MatAppBarSection>
				<MatAppBarTitle>Volejbal</MatAppBarTitle>
			</MatAppBarSection>
			<MatAppBarSection Align="@MatAppBarSectionAlign.End">
				<NavLink class="text-white nav-link" href="" Match="NavLinkMatch.All">
					Přihlašování
				</NavLink>
				<NavLink class="text-white nav-link" href="nastenka">
					Nástěnka
				</NavLink>
				<NavLink class="text-white nav-link" href="spravaosob" >
					Správa osob
				</NavLink>

			</MatAppBarSection>
		</MatAppBarRow>
	</MatAppBar>
	<MatAppBarContent>
		<div class="container">
			@Body
		</div>
	</MatAppBarContent>
</MatAppBarContainer>