<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageSources>
		<add key="DevExpress" value="https://nuget.devexpress.com/EbvA43BqJNn1OpDOp3JSESG94eXIOBRwJihGMTlH3uNSvi9NKD/api" />
	</packageSources>
</configuration>