@inject IState<AktualniTerminState> AktualniTerminState

<h2>Prihlaseni</h2>

<div>
	TerminId: @AktualniTerminState.Value.AktualniTerminId
</div>

@functions {
	protected override void OnInit()
	{
		base.OnInit();
		AktualniTerminState.Subscribe(this);
	}
}