@inject IState<TerminyState> TerminyState
@using KandaEu.Volejbal.Contracts.Terminy.Dto

<h2>Termíny</h2>

@if (TerminyState.Value.IsLoading)
{
	<p><em>Načítám termíny...</em></p>
}

@if (TerminyState.Value.LoadingFailed)
{
	<p><em>Načtení termínů se nezdařilo.</em></p>
}

@if (TerminyState.Value.Terminy != null)
{
	<div>
		@foreach (var termin in TerminyState.Value.Terminy)
		{
			<button type="button" class="btn btn-default" onclick="@(e => SetCurrentTermin(termin.Id))">@termin.Datum.ToString("d. MMMM")</button>
		}

		@if (TerminyState.Value.Terminy.Count == 0)
		{
			<span>Žádné termíny nejsou k dispozici.</span>
		}
	</div>
}

@functions
{
	protected override async Task OnInitAsync()
	{
		await base.OnInitAsync();

		TerminyState.Subscribe(this);
		Dispatcher.Dispatch(new LoadTerminyAction());
	}

	void SetCurrentTermin(int terminId)
	{
		Dispatcher.Dispatch(new SetAktualniTerminAction(terminId));
	}

}