@page "/Error"
@using System.Diagnostics

<PageTitle>Volejbal - Chyba</PageTitle>

<h2>Ups...</h2>

<p>Stalo se něco, co nikdo nechtěl - v aplikaci došlo k chybě. Kliknutím <a href="#" @onclick="HandleRestartClick">restartujte aplikaci</a>.</p>

@*  
@if (ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@RequestId</code>
    </p>
}

@code{
    [CascadingParameter]
    private HttpContext HttpContext { get; set; }

    private string RequestId { get; set; }
    private bool ShowRequestId => !string.IsNullOrEmpty(RequestId);

    protected override void OnInitialized() =>
        RequestId = Activity.Current?.Id ?? HttpContext?.TraceIdentifier;
}
 *@